<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HorizontalGraphWithFloatingMsg.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33CC7F4728D3787D0039F0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33CC7F5728D3787E0039F0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33CC7F6128D3787E0039F0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
